
<h1><%= @movie.title %></h1>
<p> Created in: <%= @movie.creation_year %> </p>
<p> Genre: <%= @movie.genre %> </p>
<h3>Actors in this movie:<% @actors.each do |actor| %></h3>
  <p><%= actor.name %></p>
<% end %>
<h3>Average age of Movie Actors: <%= @average %></h3>
